/node_modules
/public/build
/public/hot
/public/storage
/storage/framework
/storage/log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

/.vagrant
.DS_Store
composer.lock
package-lock.json
.idea/*

public/js/app.js.map
public/js/app.js.LICENSE.txt
public/js/app.js
public/css/app.css.map
public/css/app.css
public/css/mix-manifest.json
resources/js/ziggy.js