
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@use  "variables";
@use  "dark_app";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.bg-primary
{
	background-color: var(--primary-color);
}
.bg-primary-light
{
	background-color: var(--primary-light-color);
}
.bg-primary-lightest
{
	background-color: var(--primary-lightest-color);
}
.bg-primary-dark
{
  background-color: var(--primary-dark-color);
}
.bg-primary-light
{
  background-color: var(--primary-light-color);
}
.bg-complementary
{
  background-color: var(--complementary_color);
}
.bg-body
{
  background-color: var(--body-bg);
}
.text-primary
{
  color: var(--primary-color);
}
.el-input__inner[type=number],.el-input__inner[type=number]:hover
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button
{
  -webkit-appearance: none; 
  -moz-appearance: textfield;
  margin: 0; 
}
::selection {
  background: #409eff;
  color: #ffffff;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}