[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus
{
	--tw-ring-color:unset !important;
	--tw-ring-shadowL:unset !important;
	box-shadow:unset !important;
}

/* width */
::-webkit-scrollbar {
	width: 9px;
	background-color: #f9f9f9;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey; 
	/* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #cdcdcd; 
	/* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #b9b9b9; 
  }
  #nprogress .bar
  {
	height: 3px !important;
	box-shadow: 0 0 6px #000000, 0 0 3px #303030;
  }
  #nprogress .spinner {
    top: 20px !important;
    right: 18px !important;
}

/* 
responsive hidden modified version of display .css(element plus)
*/
@media only screen and (max-width:479px) { .hidden-xs-only { display: none !important } } @media only screen and (min-width:480px) { .hidden-sm-and-up { display: none !important } } @media only screen and (min-width:480px) and (max-width:767px) { .hidden-sm-only { display: none !important } } @media only screen and (max-width:767px) { .hidden-sm-and-down { display: none !important } } @media only screen and (min-width:768px) { .hidden-md-and-up { display: none !important } } @media only screen and (min-width:768px) and (max-width:975px) { .hidden-md-only { display: none !important } } @media only screen and (max-width:975px) { .hidden-md-and-down { display: none !important } } @media only screen and (min-width:976px) { .hidden-lg-and-up { display: none !important } } @media only screen and (min-width:976px) and (max-width:1440px) { .hidden-lg-only { display: none !important } } @media only screen and (max-width:1440px) { .hidden-lg-and-down { display: none !important } } @media only screen and (min-width:1440px) { .hidden-xl-only { display: none !important } }
