[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: unset !important;
  --tw-ring-shadowL: unset !important;
  box-shadow: unset !important;
}

/* width */ ::-webkit-scrollbar { width: 9px; background-color: #f9f9f9; } /* Track */ ::-webkit-scrollbar-track { box-shadow: inset 0 0 2px grey; /* border-radius: 10px; */ } /* Handle */ ::-webkit-scrollbar-thumb { background: #cdcdcd; /* border-radius: 10px; */ } /* Handle on hover */ ::-webkit-scrollbar-thumb:hover { background: #b9b9b9; }

#nprogress .bar {
  height: 3px !important;
  box-shadow: 0 0 6px #000000, 0 0 3px #303030;
}

#nprogress .spinner {
  top: 20px !important;
  right: 18px !important;
}

.bg-primary
{
	background-color: var(--primary-color);
}
.bg-primary-light
{
	background-color: var(--primary-light-color);
}
.bg-primary-lightest
{
	background-color: var(--primary-lightest-color);
}
.bg-primary-dark
{
  background-color: var(--primary-dark-color);
}
.bg-primary-light
{
  background-color: var(--primary-light-color);
}
.bg-complementary
{
  background-color: var(--complementary-color);
}
.bg-body
{
  background-color: var(--body-bg);
}
.text-primary
{
  color: var(--primary-color);
}
.text-primary-dark
{
  color: var(--primary-dark-color);
}

.el-input__inner[type=number],.el-input__inner[type=number]:hover
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button
{
  -webkit-appearance: none; 
  -moz-appearance: textfield;
  margin: 0; 
}
::selection {
  background: #409eff;
  color: #ffffff;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* 
responsive hidden modified version of display .css(element plus)
*/
@media only screen and (max-width:575.98px) { .hidden-xs-only { display: none !important } } @media only screen and (min-width:576px) { .hidden-sm-and-up { display: none !important } } @media only screen and (min-width:576px) and (max-width:767.98px) { .hidden-sm-only { display: none !important } } @media only screen and (max-width:767.98px) { .hidden-sm-and-down { display: none !important } } @media only screen and (min-width:768px) { .hidden-md-and-up { display: none !important } } @media only screen and (min-width:768px) and (max-width:991.98px) { .hidden-md-only { display: none !important } } @media only screen and (max-width:991.98px) { .hidden-md-and-down { display: none !important } } @media only screen and (min-width:992px) { .hidden-lg-and-up { display: none !important } } @media only screen and (min-width:992px) and (max-width:1199.98px) { .hidden-lg-only { display: none !important } } @media only screen and (max-width:1199.98px) { .hidden-lg-and-down { display: none !important } } @media only screen and (min-width:1200px) { .hidden-xl-and-up { display: none !important } } @media only screen and (min-width:1200px) and (max-width:1399.98px) { .hidden-xl-only { display: none !important } } @media only screen and (max-width:1399.98px) { .hidden-xl-and-down { display: none !important } } @media only screen and (min-width:1400px) { .hidden-2xl-only { display: none !important } }

@media (width <= 600px) {
  .el-dialog {
    --el-dialog-width: 90% !important;
  }
}