
html.dark .el-menu-item,.el-sub-menu__title
{
	color:#9f9f9f
}
html.dark .el-sub-menu__title:hover,
.el-menu-item:hover {
	background-color: #2e2e2e;
}
html.dark .el-menu-item.is-active {
	color: var(--el-menu-active-color);
}
html.dark .el-menu[role="menubar"] {
	border-right: solid 1px #2b2b2b;
}
html.dark .border {
	border-color: #3b3b3b;
}
html.dark .custom-header {
	background-image: radial-gradient(transparent 1px, #161616 1px);
}
html.dark .dark-mode-toggler .el-switch__core .el-switch__inner .is-icon,
.el-switch__core .el-switch__inner .is-text {
	color: white;
}
html.dark .el-switch.is-checked .el-switch__core .el-switch__action
{
	background-color:#161616
}
html.dark .el-menu-vertical
{
	background-color: #161616;
}
html.dark .menu-toggler:hover
{
	background:#3b3b3b
}
html.dark .nestable-content
{
	border-color: #626262;
}
html.dark .el-avatar {
	border: 1px solid #616161;
	box-shadow: 0px 0px 4px #757575;
}
html.dark .el-button {
	--el-button-divide-border-color:#626262;
}
/* Change the white to any color */
html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover, 
html.dark input:-webkit-autofill:focus, 
html.dark input:-webkit-autofill:active{
	-webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}
html.dark .dd-placeholder {
	background: #2e2e2e;
}

html.dark .fc-theme-standard .fc-list-day-cushion {
	background: #161616;
}
html.dark .fc .fc-list-event:hover td
{
	background: #2b2b2b;
}
